PORT=3000
PRERENDER_SECRET_TOKEN=4382180593Digital1Perfect
ALLOWED_TARGET_HOSTS=digital-perfect.com,www.digital-perfect.com
ALLOWED_TARGET_HOST_SUFFIXES=
RENDER_TIMEOUT_MS=45000
POST_LOAD_STABILIZE_MS=1500
